$mainFont: 'Amatic SC', cursive;
$greetingFont: 'Rubik', sans-serif;

$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';

$textColor:#fff;
$textShadow:1px 1px 3px #000;
$borderColor: #fafafa;

