.questions {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 5rem;
    @media ($desktop) {
        padding-top: 10rem;
    }
}

.questions .question {
    margin-bottom: 5rem;
    @media ($desktop) {
        margin-bottom: 6.5rem;
    }
} 