@import './utils';
@import './components';
@import './layout';

html {
    color: $textColor; 
    text-shadow: $textShadow;
}

.container {
    width: calc(100% - 20px);
    max-width: 120rem;
    margin: 0 auto;
    
}

.item {
    cursor: pointer;
}

.options {
    display: none;
    overflow: hidden;
    &__correct {
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        color: rgb(144, 214, 97);
        @media ($desktop) {
            font-size: 6rem;
        }
        &__text {
            text-align: center;
            font-size: 2rem;
            @media ($desktop) {
                font-size: 3rem;
            }
        }
    }
    &__incorrect {
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        color: rgb(243, 75, 75);
        @media ($desktop) {
            font-size: 6rem;
        }
    }
}

.open {
    display: block;
}